body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  max-width: 600px;
  margin: 5px auto; }

@media (max-width: 600px) {
  h1 .small {
    font-size: 20px; } }

section.pgp-key {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  border: 1px solid black; }
  section.pgp-key div.key-metadata {
    background-color: #e6ffe6;
    text-align: center;
    padding: 10px; }
    section.pgp-key div.key-metadata h1.fingerprint {
      font-size: 24px;
      font-family: monospace; }
    section.pgp-key div.key-metadata a {
      text-decoration: none;
      color: inherit; }
      section.pgp-key div.key-metadata a:hover {
        text-decoration: underline; }
  section.pgp-key div.key-content pre {
    height: 400px;
    overflow: hidden; }

section.key-detail {
  border-bottom: 3px solid #e6e6e6;
  padding-left: 10px;
  background-color: #f0f7ff; }

section.content {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 50px; }

a {
  color: inherit;
  -webkit-text-decoration-color: #c8c8c8;
          text-decoration-color: #c8c8c8; }

hr {
  margin: 2em 0 2em 0; }

div.container {
  margin: 0 10px 0 10px; }

ul.summary-checklist {
  padding-left: 10px;
  list-style: none; }

section.identities h3.name {
  margin-bottom: 0; }
section.identities .comment {
  font-style: italic; }
section.identities .comment-and-name {
  margin-top: 0; }

section.panel {
  margin-top: 20px; }
  section.panel .panel-heading {
    padding-left: 5px;
    margin: 0;
    height: 60px;
    line-height: 60px; }
  section.panel .panel-body {
    padding-left: 5px; }

.panel-default {
  border: 2px solid #e6e6e6; }
  .panel-default .panel-heading {
    background-color: #f0f0f0;
    border-bottom: 2px solid #e6e6e6; }
  .panel-default .panel-body {
    background-color: white; }

.panel-success {
  border: 2px solid #d6e9c6; }
  .panel-success .panel-heading {
    background-color: #dff0d8;
    border-bottom: 2px solid #d6e9c6;
    color: #3c763d; }
  .panel-success .panel-body {
    background-color: white; }
