body {
  font-family: sans-serif; }

section.pgp-key {
  margin: 0 auto;
  margin-top: 50px;
  max-width: 800px;
  border: 1px solid black;
  background-color: #e6ffe6;
  padding: 10px;
  text-align: center; }
  section.pgp-key h1.fingerprint {
    font-size: 24px;
    font-family: monospace; }
  section.pgp-key a {
    text-decoration: none;
    color: inherit; }
    section.pgp-key a:hover {
      text-decoration: underline; }

section.content {
  margin: 0 auto;
  max-width: 600px;
  margin-top: 50px; }

a {
  color: inherit;
  -webkit-text-decoration-color: blue;
          text-decoration-color: blue; }

ul {
  font-size: 20px;
  list-style-type: none;
  padding-left: 0; }

hr {
  margin: 2em 0 2em 0; }
